h1 {
  color: #27aedb;
  text-align: center;
}

.save,
.edit,
.delete {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
}
button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#task {
  width: 500px;
  font-size: larger;
  margin: auto;
}

.bg-pink {
  background-color: pink;
}
button {
  position: relative;
  top: -1px;
  border: 1px solid black;
  border-left: none;
  text-align: center;
  padding: 2px;
  width: 100px;
  height: 28px;
}
.save {
  background-color: lightgreen;
  width: 5%;
  min-width: fit-content;
  padding: 5px;
}
.edit {
  background-color: lightblue;
  width: 5%;
  min-width: fit-content;
  padding: 5px;
}
.delete {
  background-color: lightcoral;
  width: 5%;
  min-width: fit-content;
  padding: 5px;
}
.list,
.lst {
  margin: 5px;
  display: flex;
}
div > input {
  width: 95%;
}
button,.save,.delete,.edit:hover {
  cursor: pointer;
}
.even {
  padding: 5px;
  background-color: antiquewhite;
  width: 100%;
}
.odd {
  padding: 5px;
  background-color: aqua;
  width: 100%;
}
.wrapper{
  display: flex;
  justify-content: center;

}